* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* header start  */
header {
  width: 100%;
  height: 40px;
  background-color: #242424;
}
header ul {
  display: flex;
  justify-content: space-around;

  line-height: 40px;
}
header ul li {
  color: #fff;
  list-style-type: none;
}
/* header end  */

/* nav start */
nav {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo a {
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  text-decoration: none;
}
nav ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 2s;
}
nav ul li a:hover {
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  color: #111;
  transform: scale(1.08);
}
/* nav end  */

/* hero start  */
.hero {
  width: 100%;
  height: 400px;
  background: url("../images/laptop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
}
.hero .center {
  width: 100%;
  position: absolute;
  top: 30%;
}
.hero .center > h1 {
  color: #fff;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.hero .center > button {
  /* max-width: 200px; */
  padding: 10px;
  border: none;
  background: orange;
  outline: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20px;
}
.hero .center button:hover {
  background: green;
  cursor: pointer;
}
/* hero end  */

/* main start  */
main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards {
  width: 80%;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 200px;
  height: 300px;
  /* border: 1px solid greenyellow; */
  padding: 10px;
  margin-top: 10px;
}
.card img {
  width: 180px;
  height: 120px;
  cursor: pointer;
}
.card h3 {
  text-align: left;
  padding: 5px;
}
.card article {
  text-align: justify;
  padding: 5px;
}
.card button {
  padding: 7px;
  background: blue;
  color: #fff;
  outline: none;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card button:hover {
  background: green;
}
/* aside start  */
aside {
  width: 20%;
  padding: 20px;
  margin-left: 20px;
  background: #eee;
  /* float: left; */
}
.search {
  width: 100%;
  margin-bottom: 20px;
}
.search h2 {
  padding: 5px;
  margin: 5px;
}
.search input[type="search"] {
  padding: 5px;
  margin: 10px;
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* text-align: center; */
}
.search input[type="submit"] {
  width: 120px;
  padding: 7px;
  margin: 10px;
  outline: none;
  background: blue;
  color: #fff;
  /* border-radius: 20px; */
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.search input[type="submit"]:hover {
  background: green;
}

.posts {
  width: 100%;
  margin-bottom: 20px;
}
.posts h2 {
  padding: 5px;
  margin: 5px;
}
.posts p {
  padding: 5px;
  margin: 5px;
}
.posts p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.media {
  width: 100%;
  margin-bottom: 20px;
}
.media h2 {
  padding: 5px;
  margin: 5px;
}
.media video {
  width: 200px;
  padding: 5px;
  margin: 5px;
}
/* aside end  */
/* main end  */

/* footer start  */
footer {
  width: 100%;
  height: 100px;
  background: #242424;
  text-align: center;
  overflow: hidden;
}
footer h3 {
  line-height: 60px;
  color: #fff;
  font-size: 14px;
}
footer span {
  color: #fff;
  font-size: 12px;
}
footer .social {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
footer .social ul {
  width: 25%;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
footer .social ul li {
  list-style-type: none;
}
footer .social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
/* footer end  */
